.file_folder_icon {
  margin-right: 10px;
  cursor: pointer;
}
  
.filelist {
  list-style: none;
  font-family: 'Menlo', Courier, monospace;
  font-size: 8pt;
}

.file_row:hover {
  background-color: rgba(94, 186, 125, 0.2);
}

.filelist {
  border-collapse: collapse; 
}