section {
    font-size: 0.8em;
    width: 200px;
    background: white;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px;
    color: rgba(0,0,0,0.75);
    /*font-family: Menlo;*/
    /*font-family: Lucida Grande;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    word-wrap: break-word;
    border-radius: 3px;
}

.note_html {
    color: black;
}

.note_header {
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* border: 1px solid rgba(0, 0, 0, 1); */
    background-color: #f6f8fa;
    margin-bottom: 2px;
}
  
.wide {
    /*width: 800px;*/
    width: 600px;
}

ol {
    /*list-style: none;*/
}
  
li {
    margin-top: 2px;
    margin-bottom: 2px;
}

li img {
    margin-right: 4px;
}

code {
    font-family: 'SF Mono', Menlo;
    font-size: 0.8em;
    padding: 1px 3px 1px 3px;
    /*background: rgba(0,0,0,0.15);*/
    background: #f6f8fa;
    color: black;
}

pre {
    font-family: 'SF Mono', Menlo;
    font-size: 0.8em;
    padding: 1px 3px 1px 3px;
    background: #f6f8fa;
    color: black;
}

h1 {
    margin-top: 0px;
}

.done {
    /*font-size: 0.7em;*/
    color: green;
    border: 1px solid green;
    padding: 2px;
}

.red {
    /*font-size: 0.7em;*/
    color: red;
    border: 1px solid red;
    padding: 2px;
}

img {
    max-width:100%;
    max-height:100%;
}
